@using BootstrapSupport
@using PagedList.Mvc
@model PagedList.StaticPagedList<Models.HomeInputModel>
@*@model System.Collections.IEnumerable  *@
@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            @Html.Partial("_LeftMenu")
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <fieldset class="form-horizontal">
                <form class="form-search">
                <input type="text" id="searchParam" runat="server" name="param" value="@Request.QueryString["param"]" placeholder="搜索条件"
                    class="input-medium search-query" />
                <button type="submit" class="btn">
                    搜索</button>
                </form>
                <hr />
                <table class="table table-striped">
                    <caption>
                    </caption>
                    <thead>
                        <tr>
                            @foreach (var property in Model.VisibleProperties())
                            {

                                <th>
                                    @property.GetLabel().ToSeparatedWords()
                                </th>
                            }
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @{ int index = 0; }
                    @foreach (var model in Model)
                    {
                        ViewData[index.ToString()] = model;

                        <tr>
                            @foreach (var property in model.VisibleProperties())
                            {

                                <td>
                                    @Html.Display(index + "." + property.Name)
                                </td>                    
                            }
                            <td>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret">
                                    </span></a>
                                    <ul class="dropdown-menu">
                                        @{
                                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  

                                            <li>@Html.ActionLink("编辑", "Edit", routevalues)</li>

                                            <li>@Html.ActionLink("查看", "Details", routevalues)</li>

                                            <li class="divider"></li>

                                            <li>@Html.ActionLink("删除", "Delete", routevalues)</li>
                               
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                            index++;
                    }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index",new { page = page, param = Request.QueryString["param"] }),
               new PagedList.Mvc.PagedListRenderOptions { LinkToFirstPageFormat = "<< 首页", LinkToPreviousPageFormat = "< 上一页", LinkToNextPageFormat = "下一页 >", LinkToLastPageFormat = "尾页>>", MaximumPageNumbersToDisplay = 5 })
            </fieldset>
            <p>
                @Html.ActionLink("添加", "Create", null, new { @class = "btn" })
            </p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
